<form class="form-horizontal subscribe" name="inscriptionform">

  <!-- Form Name -->
  <legend>You live ?</legend>

  <!-- Adress 1 -->
  <div class="form-group">
      <label class="col-md-4 control-label" for="Adress 1">Address 1</label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="Address 1" name="address1" ng-pattern="/^[^\(\)_!\?#@\/\:+=\-\<\>\|\$§`%]+$/" ng-model="datas.address1" ng-maxlength="40" type="text" placeholder="ex. 54 road street newton" class="form-control input-md" required>
          <span class="input-group-addon">
            <span class="glyphicon" ng-class='(inscriptionform.address1.$dirty && inscriptionform.address1.$error.pattern) ? "glyphicon-remove red" : datas.address1 ? "glyphicon-ok green" : "glyphicon-pencil"'></span>
          </span>
        </div>
      </div>
  </div>

  <!-- Adress 2 -->
  <div class="form-group">
      <label class="col-md-4 control-label" for="Adress 2">Address 2</label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="Address 2" name="address2" ng-model="datas.address2" ng-pattern="/^[^\(\)_!\?#@\/\:+=\-\<\>\|\$§`%]+$/" ng-maxlength="40" type="text" placeholder="ex. apt 65 floor 3" class="form-control input-md">
          <span class="input-group-addon">
            <span class="glyphicon" ng-class='(inscriptionform.address2.$dirty && inscriptionform.address2.$error.pattern) ? "glyphicon-remove red" : datas.address2 ? "glyphicon-ok green" : "glyphicon-pencil"'></span>
          </span>
        </div>
      </div>
  </div>

  <!-- City -->
  <div class="form-group">
      <label class="col-md-4 control-label" for="City">City</label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="City" name="city" type="text" ng-model="datas.city" ng-pattern="/^[^0-9\(\)_!\?#@\/\:+=\-\<\>\|\$§`%]+$/" ng-maxlength="20" placeholder="ex. London" class="form-control input-md" ng-autocomplete='result_city' options="{types: '(cities)'}" required>
          <span class="input-group-addon">
            <span class="glyphicon" ng-class='(inscriptionform.city.$dirty && inscriptionform.city.$error.pattern) ? "glyphicon-remove red" : datas.city ? "glyphicon-ok green" : "glyphicon-pencil"'></span>
          </span>
        </div>
      </div>
  </div>

  <!-- Postal code -->
  <div class="form-group">
      <label class="col-md-4 control-label" for="Postal code">Postal code</label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="Postal code" name="postalCode" ng-model="datas.postalCode" ng-pattern="/\d+/" ng-maxlength="5" type="text" placeholder="ex. 56000" class="form-control input-md" required>
          <span class="input-group-addon">
            <span class="glyphicon" ng-class='(inscriptionform.postalCode.$dirty && inscriptionform.postalCode.$error.pattern) ? "glyphicon-remove red" : datas.postalCode ? "glyphicon-ok green" : "glyphicon-pencil"'></span>
          </span>
        </div>
      </div>
  </div>

  <!-- Country -->
  <div class="form-group">
      <label class="col-md-4 control-label" for="Country">Country</label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="Country" name="country" type="text" ng-model="datas.country" ng-pattern="/^[^0-9\(\)_!\?#@\/\:+=\-\<\>\|\$§]+$/" ng-maxlength="20" placeholder="ex. England" class="form-control input-md" required>
          <span class="input-group-addon">
            <span class="glyphicon" ng-class='(inscriptionform.country.$dirty && inscriptionform.country.$error.pattern) ? "glyphicon-remove red" : datas.country ? "glyphicon-ok green" : "glyphicon-pencil"'></span>
          </span>
        </div>
      </div>
  </div>

  <!-- Message errors -->
  <div class="form-group">
      <div class="col-md-4 col-md-offset-4">

          <li ng-show="inscriptionform.address1.$dirty && inscriptionform.address1.$error.pattern" class='alert alert-warning'>
              <span class='glyphicon glyphicon-remove'></span> Special characters are not allowed
          </li>
          <li ng-show="inscriptionform.address2.$dirty && inscriptionform.address2.$error.pattern" class='alert alert-warning'>
              <span class='glyphicon glyphicon-remove'></span> Special characters are not allowed
          </li>
          <li ng-show="inscriptionform.city.$dirty && inscriptionform.city.$error.pattern" class='alert alert-warning'>
              <span class='glyphicon glyphicon-remove'></span> Special characters are not allowed
          </li>
          <li ng-show="inscriptionform.postalCode.$dirty && inscriptionform.postalCode.$error.pattern" class='alert alert-warning'>
              <span class='glyphicon glyphicon-remove'></span> Postal code consists of numbers
          </li>
          <li ng-show="inscriptionform.country.$dirty && inscriptionform.country.$error.pattern" class='alert alert-warning'>
              <span class='glyphicon glyphicon-remove'></span> Special characters are not allowed
          </li>
      </div>
  </div>
  <!-- Submit Button -->
  <div class="form-group">
      <label class="col-md-4 control-label" for=""></label>
      <div class="col-md-4">
          <button id="" name="" ng-click="stepPrev()" class="btn btn-success" style="float:left">Previous</button>
          <button id="" name="" ng-click="step()" ng-disabled="inscriptionform.$invalid" class="btn btn-success" style="float:right">Next</button>
      </div>
  </div>
</form>
